attrs
cffi
ffmpeg-python
future
gitdb
GitPython
joblib
jsonschema
musdb
museval
numpy
pandas
pyaml
pycparser
pyrsistent
python-dateutil
pytz
PyYAML
scikit-learn
scipy
simplejson
six
smmap
SoundFile
stempeg
tqdm
typing-extensions
